@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  
  
  font-family: "Asap", sans-serif;
}
body {
  background-color: darkslategray;
}

.apresentacao_fechada {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.apresentacao_home {
  min-height: 100vh;

  margin: 5%;
}
.apresentacao_home_texto {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eu {
  width: 40%;
  height: 40%;
}
.icon {
  width: 45px;
  height: 45px;
}
.icon_display_rede {
  display: flex;
  margin-top: -5%;
  border-top: 2px solid yellowgreen;
  padding: 10px;
}
.icon_display {
  position: absolute;
  top: 105%;
  left: 50%;
}
.icon:hover {
  width: 48px;
  height: 48px;
}



.apresentacao_habilidades_textoeicon {
  display: flex;
  border-top: 2px solid yellowgreen;
  margin-top: 10px;
  grid-area: auto;
  
  flex-direction: row;
}

